#alert{
	max-width: 450px;
	width: 80%;
	height: auto;
	position: fixed;
	z-index; 50;
	margin-top: 30vh;
	display: none;
	padding: 2.5vh;
	padding-left: 2.5vh;
	padding-right: 2.5vh;
	border-radius: 2vh;
	font-size: 3vh;
	font-weight: 500;
	text-align: center;
}

/*@media only screen and (max-width:1000px) {
	#alert{
		margin-top: 300px;
	}
}*/

#alertText > span{
	background-color: #ff5938;
	color: white;
}

#alertText > span:hover{
	background-color: white;
	border: 2px solid #ff5938;
	color: black;
}