p{
	margin-block-start: 0px;
	margin-block-end: 0px;
}

#nav{
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	z-index: 101;
	padding: 2vh;
}

#nav_center{
	position: relative;
	width: 75%;
	display: flex;
	justify-content: center;
	border-bottom: 2px solid #d8d8d8;
	padding-bottom: 1vh;
}

#menu{
	position: relative;
	display: inline-block;
}

#htitle{
	font-size: 4.5vh;
	text-decoration: none;
	color: #00334d;
	position: relative;
	display: inline-block;
	padding-right: 14vw;
}

@media only screen and (max-width:1000px) {
	#htitle{
		padding-right: 5vw;
	}

	#nav_center{
		width: 90%;
	}
}

.hoption{
	display: inline-block;
}

.button{
	position: relative;
	display: inline-block;
	padding: 1.25vh;
	border-radius: 1vh;
	cursor: pointer;
	color: white;
	text-decoration: none;
	font-size: 1.75vh;
	margin: 1vh;
	margin-left: 1.5vh;
	margin-right: 1.5vh;
	filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.25));
}

.button > p{
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.buttonBlue{
	background-color: #005580;
	border: 2px solid #005580;
}

.buttonBlue:hover{
	background-color: white;
	color: #005580;
}


.buttonRedRing{
	background-color: white;
	border: 2px solid #ff5938;
	color: #ff5938;
}

.buttonRedRing:hover{
	background-color: #ff5938;
	color: white;
}

.buttonRed{
	background-color: #ff5938;
	border: 2px solid #ff5938;
}

.buttonRed:hover{
	background-color: white;
	color: #ff5938;
}

.buttonYellow{
	background-color: #ffba00;
	border: 2px solid #ffba00;
}

.buttonYellow:hover{
	background-color: white;
	color: #ffba00;
}

.buttonPurple{
	background-color: rgb(138, 74, 255);
	border: 2px solid rgb(138, 74, 255);
}

.buttonPurple:hover{
	background-color: white;
	color: rgb(138, 74, 255);
}

.pseudoLink{
	color: #005580;
	text-decoration: none;
	cursor: pointer;
}

.pseudoLink:hover{
	color: #ff5938;
}