#contactFloat{
	top: 90vh;
	display: block;
	margin-left: 10vh;
	position: fixed;
	z-index: 100;
}

#slideScrollMsg{
	font-size: 3vh;
	margin-top: 92vh;
	display: block;
	width: 90vw;
	text-align: right;
	position: fixed;
}

#main{
	height: 100vh;
	width: 100%;
	position: absolute;
}

#mainLayer0{
	height: 100vh;
	width: calc(100vh * 1366  / 768);
	min-width: calc(100vh * 1366  / 768);
	background-image: url("images/main_bottom.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100vh;
	background-color: #efefef;
	position: absolute;
}

#trackRedMain{
	height: 61vh;
	margin-left: 24.45%;
}

#trackBlueMain{
	height: 61vh;
	margin-left: 28.35%;
}

#trackYellowMain{
	height: 61vh;
	margin-left: 36.09%;
}

#trackPurpleMain{
	height: 48.83vh;
	margin-left: 40%;
}

.trackMain{
	cursor: pointer;
	position: absolute;
	width: auto;
	margin-top: 39vh;
}

.trackMain:hover{
	filter: brightness(110%);
}

#trackLabelMain{
	font-size: 2.5vh;
	position: absolute;
	margin-top: 70vh;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
}

#trainRedMain{
	height: 41.15vh;
	margin-left: 25%;
	margin-top: -41.15vh;
}

#trainBlueMain{
	height: 41.15vh;
	margin-left: 28.86%;
	margin-top: -41.15vh;
}

#trainYellowMain{
	height: 41.15vh;
	margin-left: 36.6%;
	margin-top: -41.15vh;
}

#trainPurpleMain{
	height: 41.15vh;
	margin-left: 40.5%;
	margin-top: -41.15vh;
}

.trainMain{
	position: absolute;
}

#mainClouds{
	height: 100vh;
	width: calc(100vh * 1366  / 768);
	min-width: calc(100vh * 1366  / 768);
	background-image: url("images/main_clouds.png");
	background-repeat: repeat;
	background-size: auto 100vh;
	position: absolute;
	pointer-events: none;
}

#mainLayerZ{
	height: 100vh;
	width: calc(100vh * 1366  / 768);
	min-width: calc(100vh * 1366  / 768);
	background-image: url("images/main_top.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100vh;
	position: absolute;
	pointer-events: none;
}

#mainText{
	width: calc(100% * 600 / 1366);
	height: calc(100vh * 500 / 768);
	position: absolute;
	margin-left: 48%;
	margin-top: 17vh;
	text-align: center;
}

#mainTitle{
	width: 100%;
	margin-top: 10%;
	font-size: 6vh;
	font-weight: 300;
	position: absolute;
	text-align: center;
}

#mainSubtitle{
	width: 100%;
	margin-top: 20%;
	font-size: 4.5vh;
	font-weight: 300;
	color: #005580;
	position: absolute;
	text-align: center;
}

#mainInstructions{
	width: 70%;
	margin-left: 15%;
	margin-top: 30%;
	font-size: 3vh;
	font-weight: 500;
	position: absolute;
	text-align: center;
	line-height: 1.6;
}

#mainInstructions > span{
	background-color: #ff5938;
	color: white;
}

#mainInstructions > span:hover{
	background-color: white;
	border: 2px solid #ff5938;
	color: black;
}

.track1{
	height: 100vh;
	margin-left: 24.45%;
} 

.track2{
	height: 100vh;
	margin-left: 28.34%;
} 

.track3{
	height: 100vh;
	margin-left: 36.09%;
} 

#slide1{
	margin-top: 100vh;
}

#slide1Image{
	height: 15vh;
	width: 15vh;
	border-radius: 1000px;
	position: relative;
	z-index: 0;
	margin-top: -10vh;
	margin-right: 0px;
	float: right;
	filter: brightness(110%);
	display: block;
	padding: 0.75vh;
}

#resumeLink{
	float: right;
}

.slide{
	height: 100vh;
	width: calc(100vh * 1366  / 768);
	min-width: calc(100vh * 1366  / 768);
	position: absolute;
}

#slide2{
	margin-top: 200vh;
}

#slide3{
	margin-top: 300vh;
}

#slide4{
	margin-top: 400vh;
}

#slide4TextboxRed{
	background-image: url("images/green.jpg");
	padding: 5vh;
}

#slide5{
	margin-top: 500vh;
}

#slide5Image{
	height: 20vh;
	width: 20vh;
	border-radius: 1000px;
	position: relative;
	z-index: 0;
	margin-top: -7.5vh;
	margin-right: -2.5vh;
	float: right;
	filter: brightness(110%);
	display: block;
	padding: 0.75vh;
}

#slide6{
	margin-top: 600vh;
}

#slide6Map{
	width: 100%;
	height: calc(100vh * 300 / 768);
}

#slide7{
	margin-top: 700vh;
}

#topLink2{
	margin-left: 7vh;
}

#galleryLink{
	margin-left: 0vh;
}

#musicBar{
	height: 10vh;
	width: 100%;
	display: block;
	position: relative;
	margin-top: 90vh;
}

.trackSlide{
	cursor: pointer;
	position: absolute;
	width: auto;
	margin-top: 0px;
}

.trackSlide:hover{
	filter: brightness(110%);
}

.textboxSlide{
	width: calc(100% * 410 / 1366);
	height: calc(100vh * 500 / 768);
	position: absolute;
	margin-left: 45%;
	margin-top: 10vh;
	display: block;
	opacity: 0;
}

.slideTitle{
	font-size: 5vh;
	font-weight: 300;
	position:relative;
	display: block;
	text-align: left;
	margin-block-start: 0em;
	margin-block-end: 0em;
}

.slideText{
	font-size: 2.5vh;
	font-weight: 300;
	position: relative;
	display: block;
	margin-top: 1vh;
	width: 95%;
	margin-left: 5%;
	text-align: left;
	margin-block-start: 1vh;
	margin-block-end: 0em;
}

.textLink{
	color: #005580;
	text-decoration: none;
	cursor: pointer;
}

.textLink:hover{
	color: #ff5938;
}

.textLink2{
	color: #005580;
	text-decoration: none;
	cursor: pointer;
}

.textLink2:hover{
	color: black;
	text-decoration: underline;
}

.textLink3{
	color: black;
	cursor: pointer;
}

.textLink3:hover{
	color: #005580;
}

.pseudoLink{
	color: #005580;
	text-decoration: none;
	cursor: pointer;
}

.pseudoLink:hover{
	color: #ff5938;
}

.slideButton1{
	position: relative;
	display: inline-block;
	padding-left: 3%;
	padding-right: 3%;
	padding: 1.25vh;
	border-radius: 1vh;
	cursor: pointer;
	background-color: #005580;
	border: 2px solid #005580;
	color: white;
	text-decoration: none;
	font-size: 1.75vh;
	margin: 1vh;
	margin-left: 20vh;
}

.slideButton1 > p{
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.slideButton1:hover{
	background-color: white;
	color: #005580;
}


.slideButton2{
	position: relative;
	display: inline-block;
	padding-left: 3%;
	padding-right: 3%;
	padding: 1.25vh;
	border-radius: 1vh;
	cursor: pointer;
	background-color: white;
	border: 2px solid #ff5938;
	color: #ff5938;
	text-decoration: none;
	font-size: 1.75vh;
	margin: 1vh;
	float: right;
}

.slideButton2 > p{
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.slideButton2:hover{
	background-color: #ff5938;
	color: white;
}

.slideButton3{
	position: relative;
	display: inline-block;
	padding-left: 3%;
	padding-right: 3%;
	padding: 1.25vh;
	border-radius: 1vh;
	cursor: pointer;
	background-color: #ff5938;
	border: 2px solid #ff5938;
	color: white;
	text-decoration: none;
	font-size: 1.75vh;
	margin: 1vh;
	float: right;
}

.slideButton3 > p{
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.slideButton3:hover{
	background-color: white;
	color: #ff5938;
}

.slideButton4{
	position: relative;
	display: inline-block;
	padding-left: 3%;
	padding-right: 3%;
	padding: 1.25vh;
	border-radius: 1vh;
	cursor: pointer;
	background-color: #ffba00;
	border: 2px solid #ffba00;
	color: white;
	text-decoration: none;
	font-size: 1.75vh;
	margin: 1vh;
	margin-left: 20vh;
}

.slideButton4 > p{
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.slideButton4:hover{
	background-color: white;
	color: #ffba00;
}

.slideButton5{
	position: relative;
	display: inline-block;
	padding-left: 3%;
	padding-right: 3%;
	padding: 1.25vh;
	border-radius: 1vh;
	cursor: pointer;
	background-color: rgb(138, 74, 255);;
	border: 2px solid rgb(138, 74, 255);;
	color: white;
	text-decoration: none;
	font-size: 1.75vh;
	margin: 1vh;
	margin-left: 20vh;
}

.slideButton5 > p{
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.slideButton5:hover{
	background-color: white;
	color: rgb(138, 74, 255);;
}
