#main{
	width: 100%;
	display: flex;
	justify-content: center;
}

#welcome{
	max-width: 600px;
	width: 90%;
	margin-top: 20vh;
}

#slide1Image{
	height: 15vh;
	width: 15vh;
	border-radius: 1000px;
	position: relative;
	z-index: 0;
	margin-top: -10vh;
	margin-right: 0px;
	float: right;
	filter: brightness(110%);
	display: block;
	padding: 0.75vh;
}

@media only screen and (max-width:1000px) {
	#slide1Image{
		margin-top: 3vh;
	}
}

#welcomeLinks{
	margin-top: 25px;
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
	padding-bottom: 25px;
}

.slideTitle{
	font-size: 5vh;
	font-weight: 300;
	position:relative;
	display: block;
	text-align: left;
	margin-block-start: 0em;
	margin-block-end: 0em;
}

.slideText{
	font-size: 2.5vh;
	font-weight: 300;
	position: relative;
	display: block;
	margin-top: 1vh;
	width: 95%;
	margin-left: 5%;
	text-align: left;
	margin-block-start: 1vh;
	margin-block-end: 0em;
}

.textLink{
	color: #005580;
	text-decoration: none;
	cursor: pointer;
}

.textLink:hover{
	color: #ff5938;
}

.textLink2{
	color: #005580;
	text-decoration: none;
	cursor: pointer;
}

.textLink2:hover{
	color: black;
	text-decoration: underline;
}

.textLink3{
	color: black;
	cursor: pointer;
}

.textLink3:hover{
	color: #005580;
}

.pseudoLink{
	color: #005580;
	text-decoration: none;
	cursor: pointer;
}

.pseudoLink:hover{
	color: #ff5938;
}
